 /* SECTION INTRO */
 .section-intro {
    padding: 40px 50px 10px;
    margin-top: 30px;
  }

  .section-intro h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .section-intro p {
    color: var(--text-light);
    font-size: 15px;
    max-width: 600px;
  }

  /* FEEDS */
  .page-section {
    padding: 20px 50px 30px;
  }


  .grid-column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .grid-column-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .card-square,
  .card-rectangle {
    background: white;
    border: 1px solid var(--border);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
  }

  .card-square:hover,
  .card-rectangle:hover {
    transform: translateY(-4px);
  }

  .card-square img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-content {
    padding: 16px;
  }

  .card-content h3 {
    margin-bottom: 6px;
    font-size: 18px;
  }

  .card-content p {
    color: var(--text-light);
    font-size: 14px;
    margin-bottom: 12px;
  }

  .card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    padding: 12px 16px 16px;
  }


  .btn-outline,
  .btn-fill,
  .btn-cta {
    padding: 20px 28px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .btn-outline {
    border: 1px solid #000;
    background: transparent;
    color: #000;
  }

  .btn-fill {
    background: #000;
    color: white;
    border: none;
  }

  .btn-cta {
    background: #000;
    color: #fff;
    border: none;
    display: inline-block;
    margin-top: 30px;
  }

  .btn-cta:hover {
    transform: translateY(-2px);
  }

  footer {
    background: #000;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    padding: 24px;
    font-size: 14px;
    height: 200px;
  }

  /* RESPONSIVE MOBILE */
  @media (max-width: 768px) {



    .grid-column-3,
    .grid-column-2 {
      grid-template-columns: 1fr;
    }

    .section-intro,
    .page-section {
      padding: 20px;
    }


  }


      /* CELEBS */
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        margin-top: 28px
      }
  /* small screens */
      @media (max-width:900px) {
        .hero {
          grid-template-columns: 1fr;
        }
  
        .grid {
          grid-template-columns: repeat(2, 1fr)
        }
      }
  
      @media (max-width:600px) {
        .grid {
          grid-template-columns: 1fr
        }
      }

      .drop-shadow {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }