   /* SLIDESHOW */
   .slideshow {
    position: relative;
    width: 100%;
    height: 270px;
    overflow: hidden;
    background: #000;
  }

  .slides {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }

  .slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }

  .slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    transition: background 0.3s;
    width: 60px;
    height: 60px;
  }

  .slide-btn:hover {
    background: rgba(255, 255, 255, 1);
  }

  .prev {
    left: 25px;
  }

  .next {
    right: 25px;
  }

  .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }

  .dots div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.3s;
  }

  .dots .active {
    background: #fff;
  }



    /* RESPONSIVE MOBILE */
    @media (max-width: 768px) {
      .slideshow {
        height: 200px;
      }
    }